<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>ID Number:</strong>
  <%= @user.id_number %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @user.phone_number %>
</p>
<p>
  <strong>ID Number:</strong>
  <%= @user.id_number %>
</p>
<p>
  <strong>Pin:</strong>
  <%= @user.pin %>
</p>
<p>
  <strong>Balance:</strong>
  <%= @user.balance %>
</p>

